body{
  background-color: aqua; /*Le champ d'application et entre guillemet variable: sa valeur*/
  text-align: center;
}
table{
  border-collapse: collapse;
  text-align: center;
  margin: 20px;width: 70%;
}
td{
  border-collapse: collapse;
  border: 2px solid black;
}
h1{
  background-color: orange; text-align: center;
  border: 1px solid black; border-radius: 8px;
  width: 80 %; padding: 10px; margin: 20px;
}
.rac{
  text-align: center;
}
