body{
  background-color:#777799; /*Le champ d'application: toute la page*/
  text-align: center;
}
table{
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  width: 70%;
}/*Pour une cohérence des tableaux, tous auront ce style*/
td{
  border-collapse: collapse;
  border: 2px solid black;
}/*Fusion des bords des cellules*/
h1{
font-family: serif;
  background-color: orange; text-align: center;
  border: 2px dotted red; border-radius: 8px;
  width: 80 %; padding: 10px; margin: 20px;margin-bottom: 50px;
}
.rac{
  text-align: center;
}
h2{
  font-family: inherit;
  background-color: lime; border: 2px dotted gold; border-radius: 15px;
  color: blue;width:60%; margin: auto; margin-top: 50px; margin-bottom: 20px;
}
.intro img{
  float: left;
}
img{
  width: 150px;

}
.biblio{
  text-align: left;
}
@media screen and (max-width: 884px) {
            img {
              display: none;
            }
}
