body{
  background-color:#777799; /*Le champ d'application et entre guillemet variable: sa valeur*/
  text-align: center;
}
table{
  border-collapse: collapse;
  text-align: center;
  margin-left:150px;width: 70%;
}
td{
  border-collapse: collapse;
  border: 2px solid black;
}
h1{
  background-color: orange; text-align: center;
  border: 2px dotted red; border-radius: 8px;
  width: 80 %; padding: 10px; margin: 20px;margin-bottom: 50px;
}
.rac{
  text-align: center;
}
h2{
  background-color: lime; border: 2px dotted gold; border-radius: 15px;
  color: blue;width:60%; margin: auto; margin-top: 50px; margin-bottom: 20px;
}
.biblio{
  text-align: left;
}
